@charset "utf-8";
/* CSS Document */

#menber .divider{
	width:200px;
	margin:10px auto 30px;
	height:1px;
	border-bottom:1px solid #FFFFFF;}
#project h4{
	padding-top:20px;
	letter-spacing:4px;
	}
#project .row{
	margin-bottom:5px;}
#project .divider{
	margin:10px auto 30px;
	width:200px;
	border-bottom:1px solid black;
	height:1px;}
#project .nav-image{
	margin-left:33px;
	margin-top:-10px;
	padding-bottom:0px;
	}
#project .arc{
	position:relative;
	}
#project .image-title{
	font-size:20px;
	display:block;
	width:64px;
	text-align:center;
	position:absolute;
	color:#FFFFFF;
	left:36px;
	top:36px;
}
#project .marketWords{
	/*重新调整距离*/
	top:22px;}
#project .line{
	padding:0px;
	margin-bottom:0px;
	margin-top:0px;
	}
	
#project .line div{
	margin-bottom:-7px;
	margin-top:0px;}
#project .center-line{
	position:relative;
	left:1px;
	}
#activity .divider{
	width:200px;
	margin:10px auto;}
/*底部*/
.footer{
	font-size:14px;
	margin-bottom:5px;
	}
.footer .wrapper div{
	display:inline-block;
	margin-left:5px;
	cursor:pointer;
	}
.footer .wrapper div.line-box{
	width:1px;
	height:10px;
	border:1px solid #FFFFFF;
	cursor:none;}